<footer id="contatos" class="uk-section footer" role="contentinfo">
  <div class="uk-grid-collapse uk-grid-match uk-text-center" uk-grid>
      <div class="uk-width-1-3@s">
          <div class="uk-tile tile-social">
              <div class="uk-panel uk-margin-medium">
                  <h3 id="contato-titulo">Saiba mais</h3>
              </div>
              <div class="uk-card uk-card-body card-social-icons" role="group" aria-labelledby="contato-titulo">
                  <a href="mailto:comunicacao@negramidia.net?subject=Negra Midia" target="_blank" rel="noopener"
                      class="uk-icon-button social-icons"
                      uk-icon="mail" ratio="2" aria-label="Enviar email"></a>
                  <a href="https://www.linkedin.com/company/negra-midia-comunicacao" target="_blank" rel="noopener"
                      class="uk-icon-button social-icons"
                      uk-icon="linkedin" ratio="2" aria-label="Acessar perfil do LinkedIn"></a>
                  <a href="https://wa.link/nip49k" target="_blank" rel="noopener"
                      class="uk-icon-button social-icons"
                      uk-icon="whatsapp" ratio="2" aria-label="Acessar contato do WhatsApp"></a>
              </div>
          </div>
      </div>
      <div class="uk-width-expand@s">
          <div class="uk-tile tile-message">
              <div class="uk-text-lead uk-text-left"> Envie uma mensagem </div>
              <form [formGroup]="notification" [noValidate]="false" (submit)="onContactSubmit()" id="formContato"class="uk-grid-small"
                  uk-grid>
                  <div class="uk-width-1-1@s">
                      <div class="uk-inline icon-form-input">
                          <span class="uk-form-icon" uk-icon="icon: user"></span>
                          <input type="text" class="uk-input" name="name" placeholder="Nome*"
                              aria-label="Nome" required title="Nome" autocomplete="name" formControlName="name"
                              [ngClass]="getFormValidationClass('name')"/>
                      </div>
                  </div>
                  <div class="uk-width-1-1@s">
                      <div class="uk-inline icon-form-input">
                          <span class="uk-form-icon" uk-icon="icon: mail"></span>
                          <input type="email" class="uk-input" name="email" placeholder="E-mail*"
                              aria-label="E-mail" required title="email" autocomplete="email" formControlName="email"
                              [ngClass]="getFormValidationClass('email')">
                      </div>
                  </div>
                  <div class="uk-width-1-2@s">
                      <div class="uk-inline icon-form-input">
                          <span class="uk-form-icon" uk-icon="icon: phone"></span>
                          <input type="tel" class="uk-input" name="phone" placeholder="(00)00000-0000"
                              aria-label="telefone"
                              title="telefone" autocomplete="tel"
                              pattern="\(\d{2}\)\d{4,5}-\d{4}"
                              [imask]="{mask: [ { mask: '(00)0000-0000'}, { mask: '(00)00000-0000' } ]}"
                              formControlName="phone" [ngClass]="getFormValidationClass('phone')">
                      </div>
                  </div>
                  <div class="uk-width-1-2@s">
                      <div class="uk-inline icon-form-input">
                          <span class="uk-form-icon" uk-icon="icon: forward"></span>
                          <input type="text" class="uk-input" name="subject" placeholder="Assunto*"
                              aria-label="Assunto"
                              required title="assunto" autocomplete="off" formControlName="subject"
                              [ngClass]="getFormValidationClass('subject')">
                      </div>
                  </div>
                  <div class="uk-width-1-1@s">
                      <div class="uk-inline icon-form-input">
                          <span class="uk-form-icon" uk-icon="icon: commenting"></span>
                          <textarea class="uk-input uk-form-large" name="body" placeholder="Mensagem*"
                              required formControlName="body"
                              [ngClass]="getFormValidationClass('body')"></textarea>
                      </div>
                  </div>
                  <div class="uk-width-1-1@s">
                      <button type="submit"
                          class="uk-button uk-button-secondary uk-width-1-1@s uk-margin-small">Enviar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="ltda">
      <div class="uk-text-meta uk-text-center"> Copyright&copy; {{CURRENTYEAR}} Negra Mídia.
      </div>
      <div class="uk-text-meta uk-text-center"> Desenvolvido por <a class="dev-url"
              href="https://www.linkedin.com/in/hedgarbezerra/" target="_blank" rel="noopener"> Hedgar Bezerra.
          </a>
      </div>
  </div>
</footer>
