@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Core changes to main elements or components */
:root {
  --primary-color: #ed7d31;
  --primary-green: #515f36;
  --primary-white: #f6f1ee;
  --auxiliary-white: #ffffff;
  --auxiliary-gray: #6c5f5b;
  --auxiliary-darkgray: #4f4a45;
  --auxiliary-black: #070707;
  --auxiliary-lighterblack: #222;
  --auxiliary-orange: #ffa300;
}

* {
  font-family: "Montserrat", "Reddit Sans", "Madimi One", "Roboto", sans-serif !important;
}

html {
  background-color: var(--primary-white) !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--auxiliary-white);
  border-radius: 3px;
}

/* Loading spinner */
.spinner-loading {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  color: var(--primary-color) !important;
}

.spinner-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
}

.logo-img {
  max-width: 30%;
  height: auto;
  display: inline-block;
}

.nav-main > li > a {
  color: var(--primary-white);
}

.card-social-icons {
  background-color: var(--auxiliary-white);
  display: flex !important;
  justify-content: space-evenly;
}
.social-icons:hover {
  background-color: var(--primary-color) !important;
  color: var(--primary-white) !important;
  transform: scale(1.3);
}
.social-icons {
  width: 48px !important;
  height: 48px !important;
  color: var(--primary-color) !important;
  transition: transform 0.3s ease, background-color 0.3s !important;
}

.tile-message {
  background-color: var(--auxiliary-darkgray);
}
.tile-social,
.tile-message .uk-input {
  background-color: var(--auxiliary-gray) !important;
}

.uk-light {
  color: var(--primary-white) !important;
}

.icon-form-input {
  display: block !important;
}
.icon-form-input * {
  color: var(--primary-white) !important;
}
.icon-form-input input::placeholder,
.icon-form-input textarea::placeholder {
  color: var(--primary-white) !important;
}

.footer {
  padding: 0 !important;
}

.dev-url:hover {
  color: var(--primary-color) !important;
}

.ltda {
  padding: 10px 0 10px 0 !important;
  background-color: var(--auxiliary-lighterblack);
}
.ltda * {
  color: var(--primary-white) !important;
}

#servicos a[uk-slider-item] {
  color: var(--primary-color) !important;
}


.team-card {
  --angle: 45deg;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 1px,
        transparent 1px
      )
      0% 0%/3px 3px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 1px, transparent 1px)
      100% 0%/3px 3px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 1px, transparent 1px)
      0% 100%/3px 3px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 1px, transparent 1px) 100%
      100%/3px 3px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 6px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 6px)
      calc(100% - 4px) no-repeat,
    linear-gradient(var(--angle), #ed7d31 39%, #ffa300 56%, #515f36 74%)
      no-repeat;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

.team-card > .team-nav-container {
  margin-bottom: 15px;
}

.team-card > .uk-card-header {
  background-color: var(--primary-green);
  border-radius: 3px;
}
.team-card > .uk-card-header > .uk-card-title {
  color: var(--auxiliary-white);
}

.team-card > .uk-card-body {
  border-color: #070707;
}

.team-card > .uk-card-footer {
}

.team-card .team-nav-img-styler {
  display: contents;
}

.team-card .team-nav-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: none !important;
  max-width: 200px;
  max-height: 230px;
}

.header-inicial{
  padding: 20px 40px 20px 40px;
}
.header-secundario  {
  color: #ffffff;
  background-color: var(--auxiliary-gray);
}

.heading-inicio, .heading-inicio *{
    font-family: "Madimi One" !important;
    word-break: keep-all !important;
    color: var(--auxiliary-lighterblack) !important;
    font-size: 80px;
}

.heading-orange{
    color: var(--primary-color) !important;
}


/* Responsive and definitions */


@media screen and (min-width: 1280px) {
  .heading-inicio, .heading-inicio *{
    font-size: 90px;
  }
}

@media screen and (min-width: 640px) and (max-width: 834px) {
  .card-social-icons {
    display: flow-root !important;
  }


  .heading-inicio, .heading-inicio *{
    font-size: 54px;
  }
}

@media screen and (min-width: 640px){
  .header-inicial{
    height: 80vh;
  }

  .header-inicial> * {
    height: 100%;
  }
}

@media screen and (max-width: 640px) {
  .heading-inicio, .heading-inicio *{
    font-size: 50px;
  }
}

@media screen and (max-width: 360px) {
  .heading-inicio, .heading-inicio *{
    font-size: 40px;
  }
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}



/* Sobrescrita do UIKit */
.uk-navbar-nav > li > a,
.uk-navbar-toggle,
.nav-main-dropdown-list > li > a {
  color: var(--auxiliary-black) !important;
}

.uk-navbar-nav > li > a:hover,
.nav-main-dropdown-list > li > a:hover {
  color: var(--primary-color) !important;
  /* background-color: var(--primary-color) !important; */
}

.uk-icon.uk-navbar-toggle-icon svg {
  max-width: none !important;
}

.nav-main,
.nav-main-dropdown {
  background-color: var(--auxiliary-white) !important;
}

.uk-input,
.uk-card {
  border-radius: 3px !important;
}
.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
  border-color: var(--primary-color) !important;
}
.uk-dotnav > .uk-active > * {
  background-color: var(--primary-color) !important;
}
.uk-button-text:hover {
  color: var(--primary-color) !important;
}
.uk-padding-medium {
  padding: 40px;
}
.uk-heading-line>::after, .uk-heading-line>::before{
    top: calc(80% - (calc(.2px + .05em)/ 2)) ;
    border-bottom: calc(.2px + .05em) solid #333 !important;
}

.uk-navbar-sticky{
  position: fixed;
  z-index: 999;
  width: 100%;
  display: contents;
}
