@font-face {
  font-family: 'Montserrat';
  src: url('https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/fonts/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Reddit Sans';
  src: url('https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/fonts/Reddit_Sans/static/RedditSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Core changes to main elements or components */
:root {
  --primary-color: #BF6D4E;
  --primary-white: #F2F2F2;
  --medium-white: #e7ebef;
  --primary-blue: #012340;
  --secundary-blue: #9CB6D9;
  --darker-brown: #59220E;
  --medium-brown: #b86849;
  --light-brown: #BF6D4E;
  --auxiliary-gray: #6c5f5b;
  --auxiliary-darkgray: #4f4a45;
  --auxiliary-black: #070707;
  --auxiliary-lighterblack: #222;
  --auxiliary-orange: #ffa300;
}

* {
  font-family: "Montserrat", "Reddit Sans", "Madimi One", "Roboto", sans-serif !important;
}

html {
  background-color: var(--primary-white) !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-white);
  border-radius: 3px;
}
@keyframes pageFlip {
  0% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0.5;
  }
  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}

/* Sobrescrita do scroll suave do UIKit */
html {
  scroll-behavior: smooth;
}

[uk-scroll],
.uk-scroll {
  transition: none !important;
}

body > * {
  transition: transform 0.6s ease-in-out;
}

body.scrolling > * {
  animation: pageFlip 0.6s ease-in-out;
}

@-webkit-keyframes pulseError {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(126, 18, 18, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(126, 18, 18, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(126, 18, 18, 0);
  }
}
@keyframes pulseError {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(126, 18, 18, 0.4);
    box-shadow: 0 0 0 0 rgba(126, 18, 18, 0.2);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(126, 18, 18, 0);
      box-shadow: 0 0 0 10px rgba(126, 18, 18, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(126, 18, 18, 0);
      box-shadow: 0 0 0 0 rgba(126, 18, 18, 0);
  }
}

/* Loading spinner */
.spinner-loading {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  color: var(--primary-color) !important;
}

.spinner-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
}

.uk-light {
  color: var(--primary-white) !important;
}

.icon-form-input {
  display: block !important;
}
.icon-form-input * {
  color: var(--primary-white) !important;
}

.dev-url:hover {
  color: var(--primary-color) !important;
}

.ltda {
  padding: 10px 0 10px 0 !important;
  background-color: var(--auxiliary-lighterblack);
}
.ltda * {
  color: var(--primary-white) !important;
}

.team-card {
  --angle: 45deg;
  background: radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 1px,
        transparent 1px
      )
      0% 0%/3px 3px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 1px, transparent 1px)
      100% 0%/3px 3px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 1px, transparent 1px)
      0% 100%/3px 3px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 1px, transparent 1px) 100%
      100%/3px 3px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 6px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 6px)
      calc(100% - 4px) no-repeat,
    linear-gradient(var(--angle), #ed7d31 39%, #ffa300 56%, #515f36 74%)
      no-repeat;
  border-radius: 3px;
  padding: 15px;
  box-sizing: border-box;
}

/* Responsive and definitions */
@media screen and (min-width: 640px) and (max-width: 834px) {
  .card-social-icons {
    display: flow-root !important;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

/* Sobrescrita do UIKit */
.uk-navbar-nav > li > a,
.uk-navbar-toggle,
.nav-main-dropdown-list > li > a {
  color: var(--auxiliary-black) !important;
}

.uk-navbar-nav > li > a:hover,
.nav-main-dropdown-list > li > a:hover {
  color: var(--primary-color) !important;
}

.uk-icon.uk-navbar-toggle-icon svg {
  max-width: none !important;
}

.nav-main,
.nav-main-dropdown {
  background-color: var(--primary-white) !important;
}

.uk-input,
.uk-card {
  border-radius: 3px !important;
}

.uk-input:focus,
.uk-select:focus,
.uk-textarea:focus {
  border-color: var(--primary-color) !important;
}

.uk-input.success{
  border-color: var(--primary-color) !important;
}

.uk-input.error{
  animation: pulseError 2s infinite;
  border-color: rgb(126, 18, 18) !important;
}

.uk-dotnav > .uk-active > * {
  background-color: var(--primary-color) !important;
}

.uk-button-text:hover {
  color: var(--primary-color) !important;
}

.uk-padding-medium {
  padding: 40px;
}

.uk-heading-line > ::after,
.uk-heading-line > ::before {
  top: calc(80% - (calc(0.2px + 0.05em) / 2));
  border-bottom: calc(0.2px + 0.05em) solid #333 !important;
}

.uk-button{
  border-radius: 3px!important;
}
