<div id="sobre" class="uk-section">
  <h1 style="display: none;" i18n="@@sobreTituloSEO">Fernanda Rosário - Jornalista Especializada em Comunicação Antirracista e Direitos Humanos
  </h1>
  <div class="uk-container">
    <header class="uk-heading-small uk-heading-line"><span i18n="@@sobreQuemFaz">Quem faz</span></header>
    <div class="uk-margin-medium-top">
      <div class="uk-slider-container-offset" uk-slider="center: true">
        <div class="uk-position-relative uk-visible-toggle" tabindex="-1">
          <ul class="uk-slider-items uk-child-width-1-1 uk-grid uk-grid-match"
            uk-height-match="target: > li > .uk-card">
            <li>
              <div class="uk-card uk-card-default uk-grid-collapse uk-flex-middle" uk-grid>
                <div class="uk-width-2-5@m uk-flex-first@m uk-text-center">
                  <img src="https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/content/team/fernanda-rosario.jpg" alt="Fernanda Rosário" i18n-alt="@@sobreFernandaAlt" class="uk-border-circle">
                  <div class="uk-margin-small-top">
                    <a href="https://fernandapfrosario.journoportfolio.com" class="uk-icon-button uk-margin-small-right"
                      uk-icon="world" ratio="1.5" target="_blank" rel="noopener" target="_blank" rel="noopener"
                      aria-label="Portfólio de Fernanda Rosário"></a>
                    <a href="https://www.linkedin.com/in/fernandapfrosario" class="uk-icon-button" uk-icon="linkedin"
                      ratio="1.5" target="_blank" rel="noopener" aria-label="LinkedIn de Fernanda Rosário" target="_blank" rel="noopener"></a>
                  </div>
                </div>
                <div class="uk-width-3-5@m">
                  <div class="uk-padding-large uk-padding-remove-left">
                    <h1>Fernanda Rosário</h1>
                    <p class="uk-text-justify" i18n="@@sobreFernandaTexto1">Sou apaixonada pelas palavras e por facilitar narrativas potentes e
                      engajadoras. Sou jornalista com atuação em projetos pautados na temática racial, direitos humanos,
                      combate ao racismo, meio ambiente, educação midiática e diversidade.</p>
                    <p class="uk-text-justify" i18n="@@sobreFernandaTexto2">Nos últimos anos, atuei na comunicação e/ou assistência de direção de
                      documentários alinhados à Agenda 2030 da produtora <strong>Deusdará Filmes: CIBERNÉTICAS, DE
                        REPENTE 50, DOAR, VARANDAS, CASAS FLUTUANTES e COMIDA PARA QUEM PRECISA.</strong></p>
                    <p class="uk-text-justify" i18n="@@sobreFernandaTexto3">Já tive materiais publicados (entre textos, vídeos, podcasts e
                      apresentação de programa) na <strong>Alma Preta Jornalismo, Folha de São Paulo, UOL, Portal Terra,
                        TV Unesp e Canal Futura</strong>.</p>
                    <p i18n="@@sobreFernandaTexto4">Tenho experiência em produção de textos, podcasts, vídeos, liderança de equipes e comunicação
                      corporativa.</p>
                    <p i18n="@@sobreFernandaTexto5">Saiba mais sobre mim e sobre meus últimos trabalhos clicando nos botões ao lado. </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"
            aria-label="Slide anterior"></a>
          <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"
            aria-label="Próximo slide"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
</div>
