<div id="servicos" class="uk-section" role="region" aria-labelledby="servicos-titulo">
  <div class="uk-container">
    <h1 id="servicos-titulo" class="uk-heading-small uk-heading-line"><span>Serviços</span></h1>
    <div uk-slider class="uk-margin-large-top uk-margin-bottom" role="region" aria-label="Carrossel de serviços">
      <div class="uk-position-relative">
        <div class="uk-slider-container">
          <div class="uk-slider-items uk-child-width-1-1@s uk-grid" role="list" aria-label="Carrossel de serviços">
            <div role="listitem">
              <div class="uk-card uk-card-default" tabindex="0">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Documentários e podcasts 🎬</h2>
                  <h3 uk-slider-parallax="y: 100,0,100">Atuamos em produções de não ficção desde o desenvolvimento da
                    ideia até a assistência de direção. Cuidamos da pesquisa, roteiro, planejamento estético e
                    narrativo, cobrindo etapas necessárias para que as ideias saiam do papel com organização e
                    profundidade.</h3>
                </div>
              </div>
            </div>
            <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Conteúdo jornalístico 📰</h2>
                  <h3 uk-slider-parallax="y: 100,0,100"> Produzimos reportagens e outros formatos jornalísticos, desde a
                    pauta até a redação final. Trabalhamos em projetos autorais ou encomendados por veículos de
                    notícias, com foco em temas de interesse e relevância pública como meio ambiente, cultura, direitos
                    humanos e combate ao racismo, sempre atentos às transformações trazidas pelas novas tecnologias e
                    algoritmos, com profundidade e responsabilidade.</h3>
                </div>
              </div>
            </div>
            <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Planejamento estratégico de comunicação
                    🧭</h2>
                  <h3 uk-slider-parallax="y: 100,0,100">Criamos estratégias de comunicação sob medida para lançamentos
                    de documentários, campanhas ou projetos. Atuamos desde o encontro de um melhor posicionamento e
                    oportunidades de narrativas para sua audiência até a produção de calendários editoriais, roteiros,
                    newsletters, e-books e materiais institucionais. Monitoramos tendências e dados para gerar impacto
                    real e acompanhamos a execução junto a parceiros, quando necessário.</h3>
                </div>
              </div>
            </div>
            <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Comunicação institucional 🏛️</h2>
                  <h3 uk-slider-parallax="y: 100, 0, 100">Pensamos estratégias para uma boa comunicação institucional
                    para coletivos, organizações sociais e empresas, aliando planejamento estratégico, criação de uma
                    narrativa institucional consistente, produção e distribuição de conteúdo diverso e envolvente, além
                    de articulação entre diferentes frentes de um projeto. Tudo com atenção aos detalhes,
                    responsabilidade, criatividade e estratégia.</h3>
                </div>
              </div>
            </div>
             <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Release e distribuição de conteúdo 🗞️</h2>
                  <h3 uk-slider-parallax="y: 100, 0, 100">Escrevemos releases atrativos e estratégicos para diferentes tipos de projetos e auxiliamos na distribuição do conteúdo a partir de um mapeamento sobre possíveis parceiros.</h3>
                </div>
              </div>
            </div>
            <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Newsletters ✉️</h2>
                  <h3 uk-slider-parallax="y: 100, 0, 100">Produzimos e editamos newsletters com foco no engajamento da
                    sua audiência. Textos, imagens e curadoria editorial em sintonia com o seu projeto, seja
                    institucional ou comercial.</h3>
                </div>
              </div>
            </div>
            <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">E-books 📚</h2>
                  <h3 uk-slider-parallax="y: 100, 0, 100">Criamos textos para e-books institucionais, sejam digitais ou
                    impressos. Também articulamos o design e a finalização visual com parceiros especializados.</h3>
                </div>
              </div>
            </div>
            <div role="listitem">
              <div class="uk-card uk-card-default">
                <div class="uk-card-body uk-text-center">
                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Mídias sociais e produção de conteúdo📱
                  </h2>
                  <h3 uk-slider-parallax="y: 100, 0, 100">Planejamos e executamos conteúdos para redes sociais como
                    Instagram, LinkedIn, X/Twitter e Facebook. Fazemos desde o calendário editorial até a análise de
                    engajamento, além da produção de textos para blogs, vídeos, sites e materiais institucionais.</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="uk-hidden@s">
          <a class="uk-position-center-left uk-slidenav-large" href uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right uk-slidenav-large" href uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
        <div class="uk-visible@s">
          <a class="uk-position-center-left-out uk-slidenav-large" href uk-slidenav-previous
            uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-slidenav-large" href uk-slidenav-next
            uk-slider-item="next"></a>
        </div>
      </div>
    </div>
    <div class="uk-text-center">
      <a class="uk-button uk-button-green" href="https://wa.link/nip49k" target="_blank" rel="noopener">
        Vamos conversar sobre o seu projeto
      </a>
    </div>
  </div>
</div>
