<div id="servicos" class="uk-section uk-padding-remove-bottom">
  <div class="uk-container">
      <h1 class="uk-heading-small uk-heading-line"><span> Serviços</span></h1>
      <div uk-slider class="uk-margin-large-top">
          <div class="uk-position-relative uk-margin-right  uk-margin-left">
              <div class="uk-slider-container">
                  <div class="uk-slider-items uk-child-width-1-2@s uk-grid">
                      <div>
                          <div class="uk-card uk-card-default">
                              <div class="uk-card-body">
                                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Conteúdos jornalísticos</h2>
                                  <h3 uk-slider-parallax="y: 100,0,100">Produção de textos, como reportagens, notas e matérias mais curtas, em diferentes
                                      editorias, para serem veiculados em mídias jornalísticas impressas e/ou online. Também
                                      produção de roteiros para pautas radiofônicas ou televisivas. Ideias de pauta, entrevistas e
                                      pesquisa. Atenção à linguagem jornalística e SEO.</h3>
                              </div>
                          </div>
                      </div>

                      <div>
                          <div class="uk-card uk-card-default">
                              <div class="uk-card-body">
                                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Produção de releases</h2>
                                  <h3 uk-slider-parallax="y: 100,0,100"> Com atenção ao SEO e às necessidades de divulgação da empresa com o público-alvo.</h3>
                              </div>
                          </div>
                      </div>

                      <div>
                          <div class="uk-card uk-card-default">
                              <div class="uk-card-body">
                                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Newsletters
                                  </h2>
                                  <h3 uk-slider-parallax="y: 100,0,100">Produção de conteúdos periódicos para serem veiculados em diferentes plataformas.
                                      Edição textual e visual das newsletters, com conteúdos que interessam a audiência
                                      desejada pela empresa.</h3>
                              </div>
                          </div>
                      </div>

                      <div>
                          <div class="uk-card uk-card-default">
                              <div class="uk-card-body">
                                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">E-books</h2>
                                  <h3 uk-slider-parallax="y: 100, 0, 100">Além dos textos, mediação com designers para a produção visual do conteúdo.</h3>
                              </div>
                          </div>
                      </div>

                      <div>
                          <div class="uk-card uk-card-default">
                              <div class="uk-card-body">
                                  <h2 class="uk-card-title" uk-slider-parallax="y: -100,0,-100">Mídias sociais
                                  </h2>
                                  <h3 uk-slider-parallax="y: 100, 0, 100">Acompanhamento das mídias sociais, análise de engajamento, produção de textos para
                                      serem veiculados em Facebook, Instagram, Twitter/X e LinkedIn.</h3>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="uk-hidden@s">
                  <a class="uk-position-center-left uk-slidenav-large" href uk-slidenav-previous
                      uk-slider-item="previous"></a>
                  <a class="uk-position-center-right uk-slidenav-large" href uk-slidenav-next
                      uk-slider-item="next"></a>
              </div>

              <div class="uk-visible@s">
                  <a class="uk-position-center-left-out uk-slidenav-large" href uk-slidenav-previous
                      uk-slider-item="previous"></a>
                  <a class="uk-position-center-right-out uk-slidenav-large" href uk-slidenav-next
                      uk-slider-item="next"></a>
              </div>
          </div>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
  </div>
</div>
