@keyframes sprayEffect {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}


.header-inicial {
  background-color: var(--primary-blue);
  height: 70%;
}

.heading-inicio {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.estrategia-card {
  border-radius: 5px;
  padding: 20px;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.estrategia-titulo {
  color:  var(--primary-color);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Adicionar quebra de linha para cada palavra no mobile */
@media (max-width: 639px) {
  .estrategia-titulo {
    display: none;
  }
}
.estrategia-texto {
  margin-bottom: 15px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.estrategia-texto-italico {
  font-style: italic;
}

.estrategia-texto-destaque {
  font-size: 1.3rem;
  font-weight: 500;
}

.pena-decorativa {
  position: absolute;
  top: 20px;
  right: 0;
  width: 15%;
  opacity: 0.3;
  z-index: 0;
}

.listra-decorativa {
  display: block;
  width: 100%;
  height: auto;
  animation: sprayEffect 1.5s ease-out forwards;
}

/* Media queries para ajustes em telas menores */
@media (max-width: 640px) {
  .pena-decorativa {
    width: 12%;
    min-width: 60px;
    opacity: 0.2;
  }

  .listra-decorativa {
    height: auto;
    max-height: 25px;
  }

  .header-secundario .uk-container::after {
    padding-bottom: 3%; /* Proporcionalmente maior em telas pequenas */
  }

  .uk-width-1-2\@s {
    margin-bottom: 50px;
  }

  .uk-width-1-2\@s:last-child {
    margin-bottom: 0;
  }
}

img {
  pointer-events: none;
}

.header-inicial-img{
  width: 120%;
}

.header-secundaria-img{
  width: 80%;
}

#inicio > .uk-container > div {
  padding-top: 30px;
  padding-bottom: 30px;
}

@keyframes drawImage {
  0% {
    clip-path: inset(0 100% 0 0);
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: translateX(0);
    opacity: 1;
  }
}

.header-inicial-img {
  animation: drawImage 1.5s ease-out forwards;
}
