<div id="inicio" class="uk-section header-inicial" role="banner">
  <div class="uk-container">
    <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid role="presentation">
      <div class="uk-width-1-2@s uk-flex uk-flex-center" role="presentation">
        <img fetchpriority="high" src="https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/content/header/slogan.png" alt="Negra Mídia - Comunicação com propósito"
          class="header-inicial-img" uk-img>
      </div>
      <div class="uk-width-1-2@s uk-flex uk-flex-center" role="presentation">
        <img fetchpriority="high" src="https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/content/header/escrevendo.png" alt="Ilustração de pessoa escrevendo"
          class="header-secundaria-img" uk-img>
      </div>
    </div>
  </div>
</div>
<div class="header-secundario uk-section">
  <div class="uk-container uk-text-center">
    <div class="uk-card uk-card-body estrategia-card">
      <h2 class="uk-card-title estrategia-titulo">ESTRATÉGIA - RESPONSABILIDADE - SENSIBILIDADE - CRIATIVIDADE</h2>
      <p class="estrategia-texto">Contamos boas histórias com sensibilidade, criatividade e com um olhar estratégico em
        diferentes formatos e para múltiplas plataformas.</p>
      <p class="estrategia-texto"> <strong>Criamos conteúdos customizados e acessíveis que conectam, mobilizam e engajam
          pessoas e comunidades</strong>.</p>
      <p class="estrategia-texto estrategia-texto-italico">Temos em nossa base o antirracismo e o combate a
        desigualdades e preconceitos.</p>
      <p class="estrategia-texto estrategia-texto-destaque">Existimos para transformar com palavras, ideias e
        responsabilidade!</p>
    </div>
  </div>
</div>
