<div id="inicio"  class="uk-section header-inicial">
  <div class="uk-flex-middle" uk-grid>
      <div class="uk-width-1-2@s margin-l">
          <h1 class="uk-heading">
              <span class="heading-inicio">Comunicação com <span class="heading-orange">propósito</span></span>
          </h1>
      </div>
      <div class="uk-width-expand@s uk-flex-last uk-padding-remove-left">
          <img fetchpriority="high" src="content/InicioBG.png" width="1800" height="1200" alt="Image" class="header-inicial-img">
      </div>
  </div>
</div>

<div class="header-secundario uk-section uk-padding-medium">
  <div class="uk-container uk-text-center">
      Uma empresa de comunicação criada para desenvolver conteúdos para múltiplas plataformas e mídias. Especializada em produção de conteúdo para empresas compromissadas com trabalhos de impacto e marcas engajadas em causas socioambientais.

  </div>
</div>
