<div id="inicio" class="uk-section header-inicial">
  <div class="uk-container">
    <div class="uk-grid uk-grid-collapse uk-flex-middle" uk-grid>
      <div class="uk-width-1-2@s uk-flex uk-flex-center">
        <img fetchpriority="high"
             src="content/header/slogan.png"
             alt="Image"
             class="header-inicial-img"
             uk-img>
      </div>
      <div class="uk-width-1-2@s uk-flex uk-flex-center">
        <img fetchpriority="high"
             src="content/header/escrevendo.png"
             alt="Image"
             class="header-secundaria-img"
             uk-img>
      </div>
    </div>
  </div>
</div>

<div class="header-secundario uk-section uk-padding-medium">
  <div class="uk-container uk-text-center">
    <div class="uk-card uk-card-body estrategia-card">
      <h3 class="uk-card-title estrategia-titulo">ESTRATÉGIA - RESPONSABILIDADE - SENSIBILIDADE - CRIATIVIDADE</h3>

      <p class="estrategia-texto">Contamos boas histórias com sensibilidade, criatividade e com um olhar estratégico em diferentes formatos e para múltiplas plataformas.</p>

      <p class="estrategia-texto">Criamos conteúdos customizados e acessíveis, <strong>que conectam, mobilizam e engajam pessoas e comunidades</strong>.</p>

      <p class="estrategia-texto estrategia-texto-italico">Temos em nossa base o antirracismo e o combate a desigualdades e preconceitos.</p>

      <p class="estrategia-texto estrategia-texto-destaque">Existimos para transformar com palavras, ideias e responsabilidade!</p>
    </div>
  </div>
</div>
