<div id="historico" class="uk-section uk-padding-remove-bottom">
  <div class="uk-container">
    <h1 class="uk-heading-small uk-heading-line"><span>Já trabalhamos</span></h1>
    <p class="uk-text-small uk-text-right history-text">Nossos realizadores já estiveram em trabalhos nas seguintes empresas:</p>
    <div class="uk-margin-remove-top">
      <img src="content/history/parceiros.png"
           alt="Empresas parceiras"
           class="uk-width-1-1"
           uk-img>
    </div>
  </div>
</div>
