<div id="historico" class="uk-section">
  <div class="uk-container">
    <h1 class="uk-heading-small uk-heading-line uk-margin-remove-bottom"><span i18n="@@historicoTitulo">Já trabalhamos</span></h1>
    <p class="uk-text-small uk-text-right history-text uk-margin-remove-top" i18n="@@historicoSubtitulo">Nossos realizadores já estiveram em trabalhos nas seguintes empresas:</p>
    <div class="uk-margin-remove-top uk-text-center">
      <img src="content/history/parceiros.png"
           alt="Empresas parceiras" i18n-alt="@@historicoEmpresasAlt"
           class="uk-width-1-1 img-parceiros"
           uk-img>
    </div>
  </div>
</div>
