<div id="historico" class="uk-section">
  <div class="uk-container">
    <header class="uk-heading-small uk-heading-line uk-margin-remove-bottom"><span>Já trabalhamos</span></header>
    <p class="uk-text-small uk-text-right history-text uk-margin-remove-top">Nossos realizadores já estiveram em trabalhos nas seguintes empresas:</p>
    <div class="uk-margin-remove-top uk-text-center">
      <img src="https://pub-e64fe8b49f444007aad6eebc8c570b2c.r2.dev/content/history/parceiros.png"
           alt="Empresas parceiras"
           class="uk-width-1-1 img-parceiros"
           uk-img>
    </div>
  </div>
</div>
